%footer
  %a#link-DBCLS{href: 'http://dbcls.rois.ac.jp', target: '_blank'}
    DBCLS - Database Center for Life Science, ライフサイエンス統合データベースセンター
  %address
    %ul.no-bullets
      %li
        Address:
        %a{href: "https://www.google.com/maps/place/35°53'41.1%22N+139°57'08.6%22E/@35.8947554,139.952394,15z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0", target: "_blank"}
          Univ. of Tokyo Kashiwa-no-ha Campus Station Satellite 6F. 178-4-4 Wakashiba, Kashiwa-shi, Chiba 277-0871, JAPAN
      %li
        Phone: +81 (4) 7135 5508
  %p#copyright
    Copyright © 2019 Database Center for Life Science (DBCLS)
