- current ||= nil

%ul#search-methods-selector
  - ApplicationHelper::SearchMethods.each do |x|
    - if current == x
      %li.current
        = x.label
    - else
      %li
        = link_to x.label, send(x.path)
